{% extends 'base.html' %}

{% block content %}    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagian Perjuangan Deadline</title>
</head>
<body>
    <p>Saya Wassalamualaikum bro...</p>
    <p>Nama     : Moh. Nofalul Umam</p>
    <p>Npm      : 2021020100120</p>
    <p>Kelas    : TID21</p>
    <p>Prodi    : Teknik Informatika</p>
</body>
</html>
{% endblock content %}